body{
    min-height:100%;
    font-family: Bad Script;
    background-image: url("img1.jpg");
    background-size: 100%;
    display : flex;
    flex-flow: column;
    position : relative;
    justify-content : center;
    align-items : center;
}

h1{
    text-transform: uppercase;
    background: #111161;
    color:white;
    margin: 0;
    padding:10px 28px;
    font-weight: normal;
    opacity:0.8 ;
}


input{
    background: white;
    width: 100%;
    box-sizing: border-box;
    height:50px ;
    font-size: 20px;
    font-weight: 0.5px;
    padding-left:25px;
    border: 1px solid black;
    color: black;
    opacity: 0.8;

}

input:focus{
    background: #edf1f5;
    border: 3px solid #86a8e7;
    outline:none;
    color: #86a8e7;
}

span{
    margin-right: 10px;
    margin-left: 10px;
    text-align:center;
    height:50px;
    width: 0;
    opacity: 0.85;
    -webkit-transition:0.3s;
    transition: 0.3s linear;

}

i{
    cursor: pointer;
}

button{
    background-color:#7f7fd5; /* Green */
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius:4px;
    font-family:Bad Script;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    opacity: 0.9;
}

button:hover {
    background-color:#05051a;
    border: 2px solid #86a8e7;
    opacity: 0.8;
}



#buttons{
    display:block;
    justify-content: center;
    align-items: center;
    text-align:center;
    opacity: 0.9;
}

#todo{
    margin: 0 auto ;
    box-shadow: 0 0 1em black;
    max-width:100%;
    height:100%;
    background:white;
    position:relative;
    word-wrap: break-word;
    opacity: 0.85;
}
#overlay{
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.7);
    overflow-x: hidden;
    transition: 0.5s;
    -webkit-transition:  0.5s;
}

#overlay .closeBtn {
  position: absolute;
  top: 12px;
  right: 40px;
  font-size: 30px;
  color:white;
  cursor: pointer;
  background-color: black;

}
#overlay li{
    padding: 8px;
    list-style-type:circle;
    font-size: 30px;
    color: #818181;
    display: block;
}

.todos{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.oneTask{
  display:flex;
  flex-direction: column;
}
.todos li{
    background: #f7f7f7;
    cursor: pointer;
    font-size: 20px;

}
.todos li:nth-child(2n){
    background:#edf1f5;
}
.todos li:hover span{
    width: 50px;
    opacity: 1.0;
    margin-left: 5px;
}
.display{
    display:none;
    transition: 0.3s linear;
}
.checked{
    color:gray;
    text-decoration:line-through;
}

.fa-pencil-alt{
    float: right;
    padding-top: 8px;
}
.fa-trash-alt{
    color:#7f7fd5;
}

.tips{
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 25px;
}

/*  if screen size less than 450px, resize tips lists and close btn so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
    #todo{
        width:100%;
        height:100%;
    }
}

.pageOfApp{
  display : flex;
  flex-flow: column;
  width : 80%;
  position : relative;
  display:flex;
  flex-direction: column;
  justify-content : center;
  align-items : center;
  border-radius : 15px;
  word-wrap: break-word;
  background-color: green;
  opacity: 0.8;
}
text{
    margin-right: 10px;
    margin-bottom: 0;
    margin-top: 0;
    width : 40%;
    text-align:center;
    height:50px;
    width: 0;
    -webkit-transition:0.3s;
    transition: 0.3s linear;
}

.columnFlex{
  display: flex;
  flex-direction: column;
}
